In [ ]:
#Extract Data from database using python
import sqlite3
connector = sqlite3.connect("mydb.db")
connector.execute("CREATE TABLE STUDENTS(ID INT, NAME VARCHAR(30))")
connector.execute("INSERT INTO STUDENTS VALUES(1,'HARSHA'),(2,'KRISHNA'),(3,'MANIKANTH'),(4,'HARSHITH'),(5,'DEVENDER')")
cursor = connector.execute("SELECT NAME FROM STUDENTS")
for name in cursor:
  print(name)

('HARSHA',)
('KRISHNA',)
('MANIKANTH',)
('HARSHITH',)
('DEVENDER',)